*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body
{
    background-color: hsl(0, 100%, 0%);
}
.heading-division
{
    width: 100%;
    height: 500px;
    background: url("Images/responsivePhoneBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

#heading
{
    color: white;
    height: 200px;
    width: 100%;
    font-size: 4em;
    font-family: 'Fascinate', cursive;
    text-shadow: 0px 0px 2px pink,
    0px 0px 4px pink,
    0px 0px 8px pink,
    0px 0px 16px pink,
    0px 0px 32px pink;
    margin-left: 0px;
}
.headingSpanAnimation
{
    animation-name: spanAnimate;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes spanAnimate {
    10%
    {
        text-shadow: 0px 0px 2px rgb(221, 37, 68),
    0px 0px 4px rgb(221, 37, 68),
    0px 0px 8px rgb(221, 37, 68),
    0px 0px 16px rgb(221, 37, 68),
    0px 0px 32px rgb(221, 37, 68);
    }
    20%
    {
        text-shadow: 0px 0px 2px aqua,
    0px 0px 4px aqua,
    0px 0px 8px aqua,
    0px 0px 16px aqua,
    0px 0px 32px aqua;
    }
    30%
    {
        text-shadow: 0px 0px 2px green,
    0px 0px 4px green,
    0px 0px 8px green,
    0px 0px 16px green,
    0px 0px 32px green;
    }
    40%
    {
        text-shadow: 0px 0px 2px rgb(225, 0, 255),
    0px 0px 4px  rgb(225, 0, 255),
    0px 0px 8px  rgb(225, 0, 255),
    0px 0px 16px rgb(225, 0, 255),
    0px 0px 32px rgb(225, 0, 255);
    }
    50%
    {
        text-shadow: 0px 0px 2px rgb(255, 38, 0),
    0px 0px 4px rgb(255, 38, 0),
    0px 0px 8px rgb(255, 38, 0),
    0px 0px 16px rgb(255, 38, 0),
    0px 0px 32px rgb(255, 38, 0);
    }
    60%
    {
        text-shadow: 0px 0px 2px rgb(0, 255, 115),
    0px 0px 4px rgb(0, 255, 115),
    0px 0px 8px rgb(0, 255, 115),
    0px 0px 16px rgb(0, 255, 115),
    0px 0px 32px rgb(0, 255, 115);
    }
    70%
    {
        text-shadow: 0px 0px 2px rgb(0, 140, 255),
    0px 0px 4px rgb(0, 140, 255),
    0px 0px 8px rgb(0, 140, 255),
    0px 0px 16px rgb(0, 140, 255),
    0px 0px 32px rgb(0, 140, 255);
    }
    80%
    {
        text-shadow: 0px 0px 2px rgb(138, 55, 0),
    0px 0px 4px rgb(138, 55, 0),
    0px 0px 8px rgb(138, 55, 0),
    0px 0px 16px rgb(138, 55, 0),
    0px 0px 32px rgb(138, 55, 0);
    }
}
.quote
{
    color: white;
    font-family: 'Satisfy', cursive;
    margin-top: 20px;
    font-size: 1.5em;
    padding-left: 0px;
}
#form-division
{
    width: 100%;
    height: 200px;
}
form
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#writeTheWork
{
    width: 100%;
    height: 30%;
    margin-left: 0%;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(70, 70, 75, 0.473);
    border: none;
    font-size: 1.2em;
    color: white;
    border: 0px solid black;
    
}
#workBtn
{
    margin-left: 2%;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(70, 53, 53);
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    right: 50px;

    
}
#workBtn:hover
{
    cursor: pointer;
}

#resetBtn
{
    margin-left: 2%;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(70, 53, 53);
    color: white;
    font-weight: bold;
    /* display: none; */
    position: absolute;
    bottom: 50px;
    left: 50px;
}
#resetBtn:hover
{
    cursor: pointer;
}
/* ==============work Divsion================== */

.work-division
{
    color: white;
    width: 100%;
    display: flex;
    border-collapse: collapse;
    flex-direction: column;
}
.workItems
{
    display: flex;
    width: 100%;
    margin: 20px 0px;
    background-color: rgba(87, 97, 231, 0.404);
}
.workItems div
{
    width: 80%;
    color: aliceblue;
    padding-left: 20px;
    font-size: 1.2em;
    font-family: 'Signika', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.workItems button
{
    width: 20%;
    background-color: rgba(255, 255, 255, 0.356);
    color: white;
    font-size: 1em;
}

.workItems button:hover
{
    cursor: pointer;
    text-shadow: 0px 0px 1px wheat,
    0px 0px 2px wheat,
    0px 0px 4px wheat;

}
